version: "3.9"

services:
  db:
    image: postgres:15
    container_name: rick_db
    env_file:
      - .env.docker
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: rick_redis
    env_file:
      - .env.docker
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: rickmorty-app
    env_file: .env.docker
    depends_on:
      - db
      - redis
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    command: sh -c "npm run migrate && npm run seed && npx ts-node-dev src/server.ts"


volumes:
  db_data:
